



//Colors
$day:#EAEAEA;
$night:#000;
$fire:#F04416;
$sky:#4c9ed9;
$earth:#5cc946;


//Size
$margin:10px;

//fonts
$lineHeight:1.3;
$normalSize:16px;
$maxFontSize:72px;
$thin:300;
$strong:600;

//Opacity
$opacity:0.85;

//Transition
$transition:0.5s;

//Borders
$radius:4px;