.content {
  background-attachment: fixed;
  background-size: 30px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../images/raster.png");
  min-height: calc(100vh - 5*10px);
  background-position: center center;
  overflow: hidden;
  padding: 10px;
  padding-top: 40px;
  font-family: 'Francois One',sans-serif; }
  .content .leftSide .logo {
    box-shadow: inset 0 0 97px 5px rgba(0, 0, 0, 0.2); }
    .content .leftSide .logo a {
      padding: 10px;
      padding-top: 40px;
      display: block; }
  .content .leftSide .menu {
    cursor: default;
    margin-top: 10px; }
    .content .leftSide .menu .list .listItem, .content .leftSide .menu .list .listItem .subList .subListItem {
      position: relative; }
      .content .leftSide .menu .list .listItem .item, .content .leftSide .menu .list .listItem .subList .subListItem .item, .content .leftSide .menu .list .listItem .subList .subListItem .subItem {
        background-color: rgba(38, 38, 38, 0.85);
        margin-bottom: 5px;
        box-shadow: 0 0 97px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden; }
        .content .leftSide .menu .list .listItem .item .arrow, .content .leftSide .menu .list .listItem .subList .subListItem .subItem .arrow {
          color: #EAEAEA;
          padding: 10px; }
        .content .leftSide .menu .list .listItem .item .name, .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name {
          padding: 10px;
          color: #EAEAEA; }
          .content .leftSide .menu .list .listItem .item .name p, .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name p {
            padding: 1.66667px; }
            .content .leftSide .menu .list .listItem .item .name p:first-child, .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name p:first-child {
              font-weight: 600; }
            .content .leftSide .menu .list .listItem .item .name p:last-child, .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name p:last-child {
              color: #d1d1d1; }
        .content .leftSide .menu .list .listItem .item:hover, .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover {
          transition: 0.5s;
          background-color: #EAEAEA; }
        .content .leftSide .menu .list .listItem .item:hover .arrow, .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .arrow {
          transition: 0.5s;
          color: #1a1a1a; }
        .content .leftSide .menu .list .listItem .item:hover .name, .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .name {
          transition: 0.5s;
          color: #1a1a1a; }
          .content .leftSide .menu .list .listItem .item:hover .name p, .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .name p {
            transition: 0.5s; }
            .content .leftSide .menu .list .listItem .item:hover .name p:last-child, .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .name p:last-child {
              color: #666666; }
        .content .leftSide .menu .list .listItem .item:hover .subList .subListItem, .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .subList .subListItem {
          display: block; }
        .content .leftSide .menu .list .listItem .item:hover .subList, .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .subList {
          transition: 0.5s;
          opacity: 1; }
        .content .leftSide .menu .list .listItem .item .m, .content .leftSide .menu .list .listItem .subList .subListItem .subItem .m {
          overflow: hidden !important; }
      .content .leftSide .menu .list .listItem .subList, .content .leftSide .menu .list .listItem .subList .subListItem .subList {
        position: absolute;
        top: 0;
        left: 100%;
        padding-left: 10px;
        width: 100%;
        opacity: 0;
        z-index: 99; }
        .content .leftSide .menu .list .listItem .subList .subListItem {
          display: none; }
          .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name {
            padding: 10px;
            color: #EAEAEA; }
            .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name p {
              padding: 1.66667px; }
              .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name p:first-child {
                font-weight: 600; }
              .content .leftSide .menu .list .listItem .subList .subListItem .subItem .name p:last-child {
                color: #d1d1d1; }
          .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover {
            transition: 0.5s;
            background-color: #EAEAEA; }
          .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .name {
            transition: 0.5s;
            color: #1a1a1a; }
            .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .name p {
              transition: 0.5s; }
              .content .leftSide .menu .list .listItem .subList .subListItem .subItem:hover .name p:last-child {
                color: #666666; }
    .content .leftSide .menu .list .active {
      background-color: #EAEAEA !important; }
      .content .leftSide .menu .list .active .arrow {
        color: #1a1a1a; }
      .content .leftSide .menu .list .active .name {
        color: #1a1a1a !important; }
        .content .leftSide .menu .list .active .name p:last-child {
          color: #666666 !important; }
  .content .rightSide {
    min-height: calc(100vh - 5*10px); }
    .content .rightSide .pages {
      overflow: hidden; }
      .content .rightSide .pages .list .listItem, .content .rightSide .pages .leftSide .menu .list .listItem .subList .subListItem, .content .leftSide .menu .rightSide .pages .list .listItem .subList .subListItem {
        background-color: rgba(26, 26, 26, 0.85); }
        .content .rightSide .pages .list .listItem .item, .content .rightSide .pages .leftSide .menu .list .listItem .subList .subListItem .item, .content .leftSide .menu .rightSide .pages .list .listItem .subList .subListItem .item, .content .rightSide .pages .leftSide .menu .list .listItem .subList .subListItem .subItem, .content .leftSide .menu .rightSide .pages .list .listItem .subList .subListItem .subItem {
          padding: 10px;
          overflow: hidden; }
          .content .rightSide .pages .list .listItem .item .title, .content .rightSide .pages .leftSide .menu .list .listItem .subList .subListItem .subItem .title, .content .leftSide .menu .rightSide .pages .list .listItem .subList .subListItem .subItem .title {
            border-bottom: 1px solid rgba(234, 234, 234, 0.1); }
            .content .rightSide .pages .list .listItem .item .title .header, .content .rightSide .pages .leftSide .menu .list .listItem .subList .subListItem .subItem .title .header, .content .leftSide .menu .rightSide .pages .list .listItem .subList .subListItem .subItem .title .header {
              overflow: hidden; }
          .content .rightSide .pages .list .listItem .item .description, .content .rightSide .pages .leftSide .menu .list .listItem .subList .subListItem .subItem .description, .content .leftSide .menu .rightSide .pages .list .listItem .subList .subListItem .subItem .description {
            font-weight: 300;
            font-family: arial;
            color: #d1d1d1; }
            .content .rightSide .pages .list .listItem .item .description p, .content .rightSide .pages .leftSide .menu .list .listItem .subList .subListItem .subItem .description p, .content .leftSide .menu .rightSide .pages .list .listItem .subList .subListItem .subItem .description p {
              margin: 10px; }
      .content .rightSide .pages .page-contact .list .listItem .map {
        line-height: 0;
        padding: 10px; }
        .content .rightSide .pages .page-contact .list .listItem .map iframe {
          width: 100%;
          min-height: 250px; }
      .content .rightSide .pages .page-contact .list .listItem .item, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem {
        padding: 10px;
        overflow: hidden; }
        .content .rightSide .pages .page-contact .list .listItem .item .title, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .title, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .title {
          border-bottom: 1px solid rgba(234, 234, 234, 0.1); }
          .content .rightSide .pages .page-contact .list .listItem .item .title .header, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .title .header, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .title .header {
            overflow: hidden; }
        .content .rightSide .pages .page-contact .list .listItem .item .description, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .description, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .description {
          font-weight: 300;
          font-family: arial;
          color: #d1d1d1; }
          .content .rightSide .pages .page-contact .list .listItem .item .description p, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .description p, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .description p {
            margin: 10px; }
        .content .rightSide .pages .page-contact .list .listItem .item .form form, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .form form, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .form form {
          margin: 10px; }
          .content .rightSide .pages .page-contact .list .listItem .item .form form .textBox, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .form form .textBox, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .form form .textBox, .content .rightSide .pages .page-contact .list .listItem .item .form form textarea, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .form form textarea, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .form form textarea {
            border: 0;
            width: calc(100% - 10px*2);
            background-color: rgba(0, 0, 0, 0.8);
            display: block;
            padding: 10px;
            margin-bottom: 5px;
            color: #EAEAEA; }
          .content .rightSide .pages .page-contact .list .listItem .item .form form textarea, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .form form textarea, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .form form textarea {
            resize: none;
            min-height: 100px; }
        .content .rightSide .pages .page-contact .list .listItem .item .form .button-group, .content .rightSide .pages .page-contact .leftSide .menu .list .listItem .subList .subListItem .subItem .form .button-group, .content .leftSide .menu .rightSide .pages .page-contact .list .listItem .subList .subListItem .subItem .form .button-group {
          overflow: hidden; }
      .content .rightSide .pages .page-about .list .listItem .item .description .image, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .description .image, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .description .image {
        line-height: 0;
        position: relative;
        display: block; }
        .content .rightSide .pages .page-about .list .listItem .item .description .image:hover img, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .description .image:hover img, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .description .image:hover img {
          transition: 0.5s;
          filter: grayscale(0); }
        .content .rightSide .pages .page-about .list .listItem .item .description .image:hover .imageCover, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .description .image:hover .imageCover, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .description .image:hover .imageCover {
          transition: 0.5s;
          background-color: rgba(26, 26, 26, 0.1); }
        .content .rightSide .pages .page-about .list .listItem .item .description .image img, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .description .image img, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .description .image img {
          width: 100%;
          height: 100%;
          filter: grayscale(100%); }
        .content .rightSide .pages .page-about .list .listItem .item .description .image .imageCover, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .description .image .imageCover, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .description .image .imageCover {
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: 0;
          right: 0;
          top: 0;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: auto;
          margin-right: auto;
          background-color: rgba(26, 26, 26, 0.4); }
      .content .rightSide .pages .page-about .list .listItem .item .imagesList, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .imagesList, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .imagesList {
        overflow: hidden;
        width: 100%; }
        .content .rightSide .pages .page-about .list .listItem .item .imagesList .arrow, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .imagesList .arrow, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .imagesList .arrow {
          display: inline-block;
          margin: 5px;
          margin-bottom: 0;
          margin-top: 0; }
          .content .rightSide .pages .page-about .list .listItem .item .imagesList .arrow:hover, .content .rightSide .pages .page-about .leftSide .menu .list .listItem .subList .subListItem .subItem .imagesList .arrow:hover, .content .leftSide .menu .rightSide .pages .page-about .list .listItem .subList .subListItem .subItem .imagesList .arrow:hover {
            transition: 0.5s;
            color: #d1d1d1; }
      .content .rightSide .pages .page-about .clientList {
        flex-flow: row wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .content .rightSide .pages .page-about .clientList .listItem, .content .rightSide .pages .page-about .clientList .leftSide .menu .list .listItem .subList .subListItem, .content .leftSide .menu .list .listItem .subList .rightSide .pages .page-about .clientList .subListItem {
          margin-top: 10px; }
        .content .rightSide .pages .page-about .clientList img {
          max-height: 400px; }
      .content .rightSide .pages .page-home .socials .description .listItem, .content .rightSide .pages .page-home .socials .description .leftSide .menu .list .listItem .subList .subListItem, .content .leftSide .menu .list .listItem .subList .rightSide .pages .page-home .socials .description .subListItem {
        line-height: 0;
        border: 5px solid transparent; }
        .content .rightSide .pages .page-home .socials .description .listItem:hover, .content .rightSide .pages .page-home .socials .description .leftSide .menu .list .listItem .subList .subListItem:hover, .content .leftSide .menu .list .listItem .subList .rightSide .pages .page-home .socials .description .subListItem:hover {
          transition: 0.5s;
          border-color: #F04416; }
        .content .rightSide .pages .page-home .socials .description .listItem img, .content .leftSide .menu .list .listItem .subList .rightSide .pages .page-home .socials .description .subListItem img {
          width: 100%; }

/*# sourceMappingURL=content.css.map */
